<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Redirecting...</title>

    <!-- SweetAlert2 -->
    <script src="/vendor/sweetalert2/dist/sweetalert2.all.min.js"></script>
  </head>
  <body>
    <script>
      Swal.fire({
        icon: "<%= type %>",
        title: "<%= title %>",
        text: "<%= message %>",
        timer: 2500,
        showConfirmButton: false,
        allowOutsideClick: false,
      }).then(() => {
        window.location.href = "<%= redirect %>";
      });
    </script>
  </body>
</html>
