<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <style>
      .container {
        display: flex;
        justify-content: center; /* horizontal */
        align-items: center; /* vertical */
        height: 90vh; /* full viewport height */
      }

      .box {
        /* background: lightcoral; */ 
        padding: 10px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="box"><h3>API is working Fine</h3>
      <h3><a href="/admin/login">Go to Admin</a></h3></div>
    </div>
  </body>
</html>
